<div (click)="onSwitchResult()" class="cursor-pointer flex bg-red justify-center m-auto" >
<div class=" w-[110px] h-[110px] sm:w-[130px] sm:h-[130px] justify-center flex scissors-gradient rounded-full" style="box-shadow: inset 0px -10px 0px -3px rgba(0,0,0,0.1);" >
  <div class="rounded-full m-auto  p-5 sm:p-7 bg-white " style="box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.1);">
    <img class="w-10 h-10 flex aspect-auto" src="../../assets/icons/icon-scissors.svg" alt="scissors">
  </div>
</div>

<div class=" w-[110px] h-[110px] sm:w-[130px] sm:h-[130px] justify-center flex  cyan-gradient rounded-full" style="box-shadow: inset 0px -10px 0px -3px rgba(0,0,0,0.1);" >
  <div class="rounded-full m-auto  p-5 sm:p-7 bg-white  " style="box-shadow: inset 0px 7px 0px 0px rgba(0,0,0,0.1);">
    <img class="w-10 h-10 flex aspect-auto" src={{item[0].typeOfImg}} alt="spock">
  </div>
</div>
</div>